*{
    font-family:Verdana, sans-serif;
}
.container-create{
    margin-bottom: 1rem;
    padding: 1rem;
}
.create-post{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 1.5px solid rgba(235, 199, 131, 0.439);
    padding: 3rem;
    border-radius: 2rem;
    background: rgb(255,219,125);
    background: linear-gradient(30deg, rgba(255,219,125,0.8911939775910365) 1%, rgba(255,255,255,1) 96%);
}
.create-post label{
    text-align: left;
    display: block;
}
.create-post h2{
    font-size: 21px;
    font-weight: 200;
    font-family:Verdana, sans-serif;
    color: rgb(206, 134, 0);
    margin-bottom: 30px;
}
.create-post input, .create-post select{
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    border: 1px solid rgb(244, 228, 197);
    box-sizing: border-box;
    display: block;
    outline: 1px solid rgb(183, 163, 128);
    border-radius: 0.5rem;
}
.create-post textarea{
    width: 100%;
    height: 150px;
    padding: 8px 10px;
    margin: 10px 0;
    border: 1px solid rgb(244, 228, 197);
    box-sizing: border-box;
    display: block;
    outline: 1px solid rgb(183, 163, 128);
    border-radius: 0.5rem;
}
.create-post button{
    background-color: rgb(206, 134, 0);
    color: #fff;
    border: 0;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid rgb(249, 228, 182);
}
.container-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
.blog-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    border: 1px solid rgb(255, 209, 157);
    border-radius: 1rem;
    background: rgb(255,219,125);
    background: linear-gradient(30deg, rgba(255,219,125,0.8911939775910365) 1%, rgba(255,255,255,1) 96%);
}
.blog-post h2{
    display: flex;
    font-size: 30px;
    font-weight: 200;
    color: rgb(206, 134, 0);
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}
.blog-post .content {
    display: flex;
    justify-content: left;
    padding: 1rem;
    font-size: 17px;
    white-space:pre-line;
    letter-spacing: 0.6px;
    text-align: start;
}
.blog-post .author{
    font-size: 13px;
    display: flex;
    justify-content: end;
    margin: 0.7rem ;
    padding: 0.7rem;
}

.blog-post .delete{
    display: flex;
    justify-content: end;
}
.button{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid rgb(254, 235, 196) ;
    color: white;
    background-color: #fac85d;;
    cursor: pointer;
}
.blog-post .date {
    display: flex;
    justify-content: start;
}
 .date {
 font-style: italic;
}
.show-posts-btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(253, 217, 149);
    color: rgb(206, 134, 0);
    padding: 1rem;
    margin:  1rem;
    font-weight: 600;
    font-size: 20px;
    border-radius: 2rem;
    background: rgb(255,219,125);
    background: linear-gradient(30deg, rgba(255,219,125,0.8911939775910365) 1%, rgba(255,255,255,1) 96%);
}
.show-posts-btn:hover, .posts:hover{
    opacity: .7;
    color: orange;
    cursor: pointer;
}
.show-posts{
    display: flex;
    justify-content: center;
}