.container{
    margin-bottom: 3rem;
}
.create-post{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1.5px solid rgba(235, 199, 131, 0.439);
   /* box-shadow: 0.1rem 0.1rem 0.3rem orange;*/
    padding: 3rem;
    border-radius: 2rem;
    background: rgb(255,219,125);
background: linear-gradient(30deg, rgba(255,219,125,0.8911939775910365) 1%, rgba(255,255,255,1) 96%);
}

.create-post label{
    text-align: left;
    display: block;
}
.create-post h2{
    font-size: 21px;
    font-weight: 200;
    font-family:Verdana, sans-serif;
    color: rgb(206, 134, 0);
    margin-bottom: 30px;
}
.create-post input, .create-post select{
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    border: 1px solid rgb(244, 228, 197);
    box-sizing: border-box;
    display: block;
    outline: 1px solid rgb(183, 163, 128);
    border-radius: 0.5rem;
}
.create-post textarea{
    width: 100%;
    height: 150px;
    padding: 8px 10px;
    margin: 10px 0;
    border: 1px solid rgb(244, 228, 197);
    box-sizing: border-box;
    display: block;
    outline: 1px solid rgb(183, 163, 128);
    border-radius: 0.5rem;
}
.create-post button{
    background-color: rgb(206, 134, 0);
    color: #fff;
    border: 0;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid rgb(249, 228, 182);
}